body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #4b4052;
}

.container {
  background-color: #29262b;
  padding: 1rem;
  margin: 1rem 0;
}

.draggble {
  background-color: white;
  color: #29262b;
  padding: 1rem;
  border-radius: 5px;
  border: solid 2px black;
  transition: opacity 200ms ease;
}

.dragging {
  opacity: 0.5;
  transition: opacity 1s ease;
}
